{% extends '::base.html.twig' %}
{% block iconHead %}
    <i class="gi gi-list"></i>
{% endblock iconHead %}

{% block pageTitle %}
    Cotizador
{% endblock pageTitle %}
{% block subtitle %}
    Flexible
{% endblock subtitle %}

{% block action %}
    <div class="block-options pull-right">
        <a data-original-title="Nueva cotización" href="{{ url('cotizador_flexible_new') }}" class="btn btn-alt btn-sm btn-success" data-toggle="tooltip" title=""><i class="fa fa-asterisk"></i></a>
    </div>
{% endblock action %}
{% block titlePanel %}Lista{% endblock titlePanel %}
{% block bodyPanel %}
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
        <thead>
        <tr>
            <th>{% trans %}Course{% endtrans %}</th>
            <th>{% trans %}Client{% endtrans %}</th>
            <th>{% trans %}Weeks{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for quotation in quotations %}
            <tr>
                <td>{{ quotation.course.name }}</td>
                <td>{{ quotation.client.fullName }}</td>
                <td>{{ quotation.semanas }}</td>
                <td>
                    Editar
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock bodyPanel %}
{% block extraJS %}
    <script src="{{ asset('bundles/tscya/js/pages/tablesDatatables.js') }}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock extraJS %}