{% extends '::base.html.twig' %}
{% block iconHead %}
    <i class="gi gi-list"></i>
{% endblock iconHead %}

{% block pageTitle %}
    Cotizador
{% endblock pageTitle %}
{% block subtitle %}
    Flexible
{% endblock subtitle %}

{% block action %}
    <div class="block-options pull-right">
        <div class="btn-group btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Cotizar"><span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                <li>
                    <a href="{{ url('cotizador_flexible_new') }}"><i class="pull-right gi gi-pen"></i> Flexible</a>
                    <a href="{{ url('cotizador_paquete_new') }}"><i class="pull-right gi gi-package"></i> Paquete</a>
                    <a href="{{ url('cotizador_examen_new') }}"><i class="pull-right gi gi-notes"></i> Examen</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock action %}
{% block titlePanel %}Lista{% endblock titlePanel %}
{% block bodyPanel %}
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
        <thead>
        <tr>
            <th>{% trans %}Course{% endtrans %}</th>
            <th>{% trans %}Client{% endtrans %}</th>
            <th>{% trans %}Weeks{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for quotation in quotations %}
            <tr>
                <td>{{ quotation.course.name }}</td>
                <td>{{ quotation.client.fullName }}</td>
                <td>{{ quotation.semanas }}</td>
                <td>
                    Delete
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock bodyPanel %}
{% block extraJS %}
    <script src="{{ asset('bundles/tscya/js/pages/tablesDatatables.js') }}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock extraJS %}