{% extends '::base.html.twig' %}
{#{% macro discretionarySpendingCollectionItem(discretionarySpending) %}
    <span class="form-inline text-center">
        {{ form_widget(discretionarySpending.description) }}
        {{ form_widget(discretionarySpending.price) }}
        {{ form_widget(discretionarySpending.coin) }}
    </span>
{% endmacro %}#}
{% block MenuCotizadores %} class="sidebar-nav-menu open" {% endblock MenuCotizadores %}
{% block MenuFlexible %} class="active" {% endblock MenuFlexible %}
{% block ulCotizador %} style="display: block;" {% endblock ulCotizador %}
{% block iconHead %}
    <i class="gi gi-pen"></i>
{% endblock iconHead %}

{% block pageTitle %}
    Cotizador
{% endblock pageTitle %}
{% block subtitle %}
    Flexible
{% endblock subtitle %}

{% block action %}
    <div class="block-options pull-right">
        <a data-original-title="Regresar" href="{{ url('main') }}" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title=""><i class="fa fa-chevron-left"></i></a>
    </div>
{% endblock action %}

{% block titlePanel %}
    Nuevo
{% endblock titlePanel %}

{% block bodyPanel %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-inline text-center bg-info">
        <h3>Cliente</h3>
        {{ form_row(form.client.first_name) }}
        {{ form_row(form.client.last_name) }}
        {{ form_row(form.client.isUnderAge) }}
    </div>
    {{ form_row(form.semanas) }}
    {{ form_row(form.country) }}
    {{ form_row(form.city) }}
    {{ form_row(form.headquarter) }}
    {{ form_row(form.course) }}
    {{ form_row(form.semanas_lodging) }}
    {{ form_row(form.summer_supplement) }}
    {{ form_row(form.lodging) }}
    {{ form_row(form.service) }}
    <div class="form-group">
        <div class="col-sm-10 text-center">
            <div class="label label-info" id="valor_moneda">$</div>
            <div class="label label-success" id="valor_curso">Curso: 0.00</div>
            {#<div class="label label-success" id="valor_alojamiento">Alojamiento: 0.00</div>
            <div class="label label-success" id="valor_servicio">Servicio: 0.00</div>#}
            <div class="label label-warning" id="valor_promocion">Sin promoción</div>
        </div>
    </div>

    {{ form_row(form.discretionarySpending) }}
    {{ form_row(form.note) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Guardar</button>
        </div>
    </div>
    {{ form_end(form) }}
    <br/>
{% endblock bodyPanel %}
{% block extraJS %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tscya/js/requestCotizadorFlexible.js') }}"></script>
{% endblock extraJS %}