{% extends '::base.html.twig' %}
{% block MenuCotizadores %} class="sidebar-nav-menu open" {% endblock MenuCotizadores %}
{% block MenuPaquete %} class="active" {% endblock MenuPaquete %}
{% block ulCotizador %} style="display: block;" {% endblock ulCotizador %}
{% block iconHead %}
    <i class="gi gi-package"></i>
{% endblock iconHead %}

{% block pageTitle %}
    Cotizador
{% endblock pageTitle %}
{% block subtitle %}
    Paquete
{% endblock subtitle %}

{% block action %}
    <div class="block-options pull-right">
        <a data-original-title="Regresar" href="{{ url('cotizador_index') }}" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title=""><i class="fa fa-chevron-left"></i></a>
    </div>
{% endblock action %}

{% block titlePanel %}
    Nuevo
{% endblock titlePanel %}

{% block bodyPanel %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-inline text-center bg-info">
        <h3>Cliente</h3>
        {{ form_row(form.client.first_name) }}
        {{ form_row(form.client.last_name) }}
    </div>
    {{ form_row(form.country) }}
    {{ form_row(form.city) }}
    {{ form_row(form.headquarter) }}
    {{ form_row(form.package) }}
    {{ form_row(form.lodging) }}
    {{ form_row(form.service) }}
    {{ form_row(form.semanas) }}
    <ul class="item list list-unstyled form-inline text-center" data-prototype="{{ form_widget(form.discretionarySpending.vars.prototype)|e }}">

        <h3>Gastos opcionales</h3>
        <style>
            li>div>div.form-group {
                width: 100%;
            }
        </style>
        {# iterate over each existing tag and render its only field: name #}
        {% for discretionarySpending in form.discretionarySpending %}
            <li class="bg-info">
                {{ form_row(discretionarySpending.description) }}
            </li>
        {% endfor %}
    </ul>
    {{ form_row(form.note) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Guardar</button>
        </div>
    </div>
    {{ form_end(form) }}
    <br/>
{% endblock bodyPanel %}
{% block extraJS %}
    <script type="text/javascript">
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="btn btn-sm btn-warning">Agregar</a>');
        var $newLinkLi = $('<div class="col-md-12"></div>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $(this).find('ul.item');
            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $newLinkLi);
            });


        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li class="bg-info"></li>').append(newForm);

            // also add a remove button, just for this example
            //$newFormLi.append('<a href="#" class="remove-tag btn btn-xs btn-danger"><i class="fa fa-minus-square"></i></a>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-tag').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="btn btn-xs btn-danger"><i class="fa fa-eraser"></i></a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tscya/js/requestCotizadorPackage.js') }}"></script>
{% endblock extraJS %}