{% extends 'base.html.twig' %}
{% block iconHead %} <i class="gi gi-list"></i>{% endblock iconHead %}
{% block pageTitle %}
    {% trans %}City{% endtrans %}
{% endblock pageTitle %}
{% block subtitle %} Lista {% endblock subtitle %}
{% block action %}
    <div class="block-options pull-right">
        <a href="{{ path('admin_city_new') }}" data-original-title="Create a new entry"
           class="btn btn-alt btn-sm btn-success" data-toggle="tooltip" title=""><i class="fa fa-asterisk"></i></a>
    </div>
{% endblock action %}
{% block titlePanel %}Ciudades registradas{% endblock titlePanel %}
{% block bodyPanel %}
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
        <thead>
        <tr>
            <th>{% trans %}Code{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Country{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.code }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.description }}</td>
                <td>{{ city.country.name }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('admin_city_show', { 'id': city.id }) }}"
                           class="btn btn-xs btn-primary">show</a>
                        <a href="{{ path('admin_city_edit', { 'id': city.id }) }}"
                           class="btn btn-xs btn-primary">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock bodyPanel %}
{% block extraJS %}
    <script src="{{ asset('bundles/tscya/js/pages/tablesDatatables.js') }}"></script>
    <script>$(function () {
            TablesDatatables.init();
        });</script>
{% endblock extraJS %}
