{% extends 'base.html.twig' %}
{% block MenuCatalog %} class="sidebar-nav-menu open" {% endblock MenuCatalog %}
{% block MenuHeadquarter %} class="active" {% endblock MenuHeadquarter %}
{% block ulCatalog %} style="display: block;" {% endblock ulCatalog %}

{% block iconHead %}
    <i class="fa fa-eye"></i>
{% endblock iconHead %}

{% block pageTitle %}
    {% trans %}Headquarter{% endtrans %}
{% endblock pageTitle %}
{% block subtitle %}
    Visualizar
{% endblock subtitle %}
{% block titlePanel %}
    {% trans %}Headquarter{% endtrans %}
{% endblock titlePanel %}
{% block action %}
    <div class="form-group form-actions">
    <div class="col-md-12 col-md-offset-6">
        <a href="{{ path('admin_headquarter_index') }}" class="btn btn-sm btn-primary">
            <i class="hi hi-chevron-left"></i>
            Regresar
        </a> <a href="{{ path('admin_headquarter_edit', { 'id': headquarter.id }) }}" class="btn btn-sm btn-warning">
            <i class="gi gi-edit"></i>
            {% trans %}Edit{% endtrans %}
        </a></div>
    </div>{% endblock action %}
    {% block bodyPanel %}
        <div class="table-responsive">
            <table class="table table-vcenter table-striped">
                <tbody>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <td>{{ headquarter.name }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <td>{{ headquarter.description }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <td>{{ headquarter.type }}</td>
                </tr>
                <tr>
                    <th>{% trans %}City{% endtrans %}</th>
                    <td>{{ headquarter.city.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endblock bodyPanel %}
