{% extends 'base.html.twig' %}
{% block iconHead %} <i class="gi gi-list"></i>{% endblock iconHead %}
{% block pageTitle %}
    {% trans %}Lodging{% endtrans %}
{% endblock pageTitle %}
{% block subtitle %} Lista {% endblock subtitle %}
    {% block action %}
        <div class="block-options pull-right">
            <a href="{{ path('admin_lodging_new') }}" data-original-title="Create a new entry"
               class="btn btn-alt btn-sm btn-success" data-toggle="tooltip" title=""><i class="fa fa-asterisk"></i></a>
        </div>
    {% endblock action %}
        {% block titlePanel %}Alojamientos registrados{% endblock titlePanel %}
        {% block bodyPanel %}
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <th>{% trans %}Price per week{% endtrans %}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <th>{% trans %}Headquarters{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for lodging in lodgings %}
                    <tr>
                        <td>{{ lodging.name }}</td>
                        <td>
                            {% if (lodging.type == 'SIMPLE') %}
                                <span class="label label-info">Individual</span>
                            {% elseif (lodging.type == 'DOUBLE') %}
                                <span class="label label-info">Doble</span>
                            {% elseif (lodging.type == 'TRIPLE') %}
                                <span class="label label-info">Multi</span>
                            {% endif %}
                        </td>
                        <td>{{ lodging.priceperweek |number_format(2, '.', ',') }}</td>
                        <td>{{ lodging.description }}</td>
                        <td>{{ lodging.headquarter.name }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('admin_lodging_show', { 'id': lodging.id }) }}"
                                   class="btn btn-xs btn-primary">{% trans %}show{% endtrans %}</a>
                                <a href="{{ path('admin_lodging_edit', { 'id': lodging.id }) }}"
                                   class="btn btn-xs btn-primary">{% trans %}edit{% endtrans %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock bodyPanel %}
{% block extraJS %}
    <script src="{{ asset('bundles/tscya/js/pages/tablesDatatables.js') }}"></script>
    <script>$(function () {
            TablesDatatables.init();
        });</script>
{% endblock extraJS %}
