{% extends 'base.html.twig' %}
{% block iconHead %}
<i class="fa fa-eye"></i>
{% endblock iconHead %}

{% block pageTitle %}
Exam
{% endblock pageTitle %}
{% block subtitle %}
Visualizar
{% endblock subtitle %}
{% block titlePanel %}
Exam
{% endblock titlePanel %}
{% block action %}
        <div class="form-group form-actions">
    <div class="col-md-12 col-md-offset-6">
        <a href="{{ path('admin_exam_index') }}" class="btn btn-sm btn-primary">
            <i class="hi hi-chevron-left"></i>
            Regresar
        </a>            <a href="{{ path('admin_exam_edit', { 'id': exam.id }) }}" class="btn btn-sm btn-warning">
                <i class="gi gi-edit"></i>
                Edit
            </a>    </div>
</div>{% endblock action %}
{% block bodyPanel %}
    <div class="table-responsive">
        <table class="table table-vcenter table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ exam.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                        <td>{{ exam.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                        <td>{{ exam.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                        <td>{{ exam.price }}</td>
                </tr>
                <tr>
                    <th>Enable</th>
                        <td>{% if exam.enable %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Headquarters_id</th>
                        <td>{{ exam.headquartersid }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock bodyPanel %}
